<tbody>
  <% timetables_for_day.each do |t| %>         
    <tr>
      <td><%= t.tt_number_of_lesson %></td>
      <td><%= t.curriculum.qualification.subject.subject_name %></td>
      <td><%= t.tt_room %></td>
      <td><%= t.tt_type %></td>
    </tr>
  <% end %>
</tbody>