<legend>Будущие мероприятия</legend>

<table class="table table-bordered table-striped" name="events">
  <%= render :partial => 'theads' %>
  <tbody>
    <% if @event_exist %>
      <% @fresh_events.each do |e| %>
        <tr>
          <%= render :partial => 'tds', :locals => { :e => e } %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>