<legend>Список предметов</legend>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Предмет</th>
    </tr>
  </thead>
  <tbody>        
    <% @all_subjects.each do |sbj| %>          
      <tr class="cross" onclick = "location.href='<%= edit_subject_path( :id => sbj.id ) %>'">
        <td><%= sbj.subject_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Создать", new_subject_path, :class => "btn btn-primary btn-large" %>