<div class="control-group">
   <%= f.label :report_topic, "Тема", :class => "control-label" %>

   <div class="controls">
     <%= f.text_field :report_topic, :class => "span2" %>
   </div>
</div>

<div class="control-group">
   <%= f.label :report_type, "Вид отчетности", :class => "control-label" %>

   <div class="controls">
     <%= f.select( :report_type, options_for_select( report_types, choosen_report_type )) %>                   <%# report_types is input param. %>
   </div>
</div>