<legend>Список учителей</legend>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Фамилия</th>      
      <th>Имя</th>                 
      <th>Отчество</th>                 
    </tr>
  </thead>
  <tbody>        
    <% @teachers.each do |t| %>          
      <tr class="cross" onclick = "location.href='<%= edit_teacher_path( :id => t.id ) %>'">
        <td><%= t.teacher_last_name %></td>
        <td><%= t.teacher_first_name %></td>
        <td><%= t.teacher_middle_name%></td>
      </tr>
    <% end %>
  </tbody>
</table>