<% unless @pupil.nil? %>
  <% if @pupil_curriculums_exist %>

    <%# Choosing subject in journal of parent. %>
    <div style="margin-top: 18px;" class="btn-toolbar">
      <div class="btn-group">
        <a href="#" data-toggle="dropdown" class="btn dropdown-toggle">
          Выбрать предмет
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
    			<% @pupil_curriculums.each do |c| %>
    			  <li>
    			    <%= link_to c.qualification.subject.subject_name,
    			        journals_show_parent_path( :curr_id => c.id,:p_id => params[:p_id] ) %>
    			  </li>
    			<% end %>
        </ul>
      </div>
    </div>

    <%= render :partial => 'journal_for_pupil',
               :locals => { :pupil_lessons_exist => @pupil_lessons_exist,
                            :pupil_lessons => @pupil_lessons,
                            :choosen_subject => @choosen_subject,
                            :pupil => @pupil,
                            :choosen_subject => @choosen_subject } %>
  <% end %>
<% end %>