<% unless @pupil.nil? %>
  <% if @pupil_curriculums_exist %>

    <%# Choosing subject in journal of parent. %>
    <div style="margin-top: 18px;" class="btn-toolbar">
      <div class="btn-group">
        <a href="#" data-toggle="dropdown" class="btn dropdown-toggle">
          Выбрать предмет
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
    			<% @pupil_curriculums.each do |c| %>
    			  <li>
    			    <%= link_to c.qualification.subject.subject_name,
    			        journals_show_parent_path( :curr_id => c.id,:p_id => params[:p_id] ) %>
    			  </li>
    			<% end %>
        </ul>
      </div>
    </div>

     <table class="tablee table-bordered scrol" name="journals">
       <thead>
         <tr>
           <th>Урок</th>

           <% if @pupil_lessons_exist %>
             <% @pupil_lessons.each do |l| %>
               <th>
                  <%= l.lesson_date.strftime("%d.%m.%Y") %>
               </th>
             <% end %>
           <% end %>
         </tr>
       </thead>
       <tbody>
         <% if not @choosen_lesson.nil? and @pupil_lessons_exist and not @pupil.nil? %>
           <td><%= @choosen_lesson.subject_name %></td>

            <% @pupil_lessons.each do |l| %>
              <td class="<%= color_of_attendance( @pupil.id, l.id )  %>">

              </td>
            <% end %>
         <% end %>
       </tbody>
     </table>
  <% end %>
<% end %>