#header {
	text-align: left;
	color: #333;
	font-size: 16px;
	padding: 10px;
}

body {
	font-size: 10pt;
}

h2 {
	font-size: 13pt;
	text-decoration: none;
}

table {
	background: #E0E0E0;
}

table tr {
	background: #ffffff;
}

table tr th {
	font-size: 11pt;
	background: #E0E0E0;
	color: #000000;
	padding: 5px;
}

table tr td {
	padding: 5px 5px 5px 5px;
}

table tr td a {
	text-decoration: none;
	color: #000000;
	display: block;
	width: 100%;
	height: 100%;
	margin: -5px -5px -5px -5px;
	padding: 5px 5px 5px 5px;
}

table .span1 {

  float: none;

  width: 44px;

  margin-left: 0;

}

table .span2 {

  float: none;

  width: 124px;

  margin-left: 0;

}

table .span3 {

  float: none;

  width: 204px;

  margin-left: 0;

}

table .span4 {

  float: none;

  width: 284px;

  margin-left: 0;

}

table .span5 {

  float: none;

  width: 364px;

  margin-left: 0;

}

table .span6 {

  float: none;

  width: 444px;

  margin-left: 0;

}

table .span7 {

  float: none;

  width: 524px;

  margin-left: 0;

}

table .span8 {

  float: none;

  width: 604px;

  margin-left: 0;

}

table .span9 {

  float: none;

  width: 684px;

  margin-left: 0;

}

table .span10 {

  float: none;

  width: 764px;

  margin-left: 0;

}

table .span11 {

  float: none;

  width: 844px;

  margin-left: 0;

}

table .span12 {

  float: none;

  width: 924px;

  margin-left: 0;

}

table.select-params tr th {
	background: #ffffff;
}

.pupil a {
	text-decoration: none;
	color: #000000;

}

.tablee {
  width: 100%;
  margin-bottom: 18px;
}
.tablee th, .tablee td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.tablee th {
  font-weight: bold;
}
.tablee thead th {
  vertical-align: bottom;
}
.tablee thead:first-child tr th, .tablee thead:first-child tr td {
  border-top: 0;
}
.tablee tbody + tbody {
  border-top: 2px solid #ddd;
}
.tablee-condensed th, .table-condensed td {
  padding: 4px 5px;
}
.table-bordered {
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.table-bordered th + th,
.table-bordered td + td,
.table-bordered th + td,
.table-bordered td + th {
  border-left: 1px solid #ddd;
}
.table-bordered thead:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
.table-bordered thead:first-child tr:first-child th:first-child, .table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
.table-bordered thead:first-child tr:first-child th:last-child, .table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
.table-bordered thead:last-child tr:last-child th:first-child, .table-bordered tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
.table-bordered thead:last-child tr:last-child th:last-child, .table-bordered tbody:last-child tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
.selectt:hover  {
  outline: 1px solid #666;

}
.cross {
cursor: pointer;
}

.even {
 width: 200px;
}

.week-day
{
	background: #aabbcc;
	color: gray;
}

.control-work, .lab-work {
	color: #aa0a0a;
}

.butt {
float: none;
}
.unvisited
{
	background: #FFC0CB;
}

.visited
{
	background: #aaccaa;
}

/*Horizontal scrolling block.*/
.scrol{
	display: block;
	overflow: auto;
}