<div class="control-group">
  <%= pp.label :pupil_home_number, "Домашний телефон", :class => "control-label" %> 
  
  <div class="controls">
    <%= pp.text_field :pupil_home_number, :placeholder => field_placeholder %>
  </div>
</div>

<div class="control-group">
  <%= pp.label :pupil_mobile_number, "Мобильный телефон", :class => "control-label" %> 
  
  <div class="controls">
    <%= pp.text_field :pupil_mobile_number, :placeholder => field_placeholder %>
  </div>
</div>   
