<legend>Ученики</legend>

<table class="table table-bordered table-striped" name="teachers">
  <thead>
    <tr>
      <th>Фамилия</th>                     
      <th>Имя</th>                     
      <th>Отчество</th>                     
    </tr>
  </thead>
  <tbody>
    <% if @pupil_exist %>        
      <% @pupils.each do |p| %>          
        <tr>
          <td><%= "#{p.pupil_last_name}" %></td>
          <td><%= "#{p.pupil_first_name}" %></td>
          <td><%= "#{p.pupil_middle_name}" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to "Создать ученика", new_pupil_path, :class => "btn btn-primary btn-large" %>